<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">

    <meta name="description" content="Take a free typing test and improve your typing speed and accuracy. Try online typing tests, practice regularly, and test your skills with our free typing speed tests.">
    <meta name="keywords" content="typing test, typing speed test, online typing test, typing practice, typing test online">
    <title>Typing Test - Improve Your typing Speed with Free Online Typing Test</title>

    <meta property="og:title" content="Typing Test - Improve Your typing Speed with Free Online Typing Test">
    <meta property="og:description" content="Take a free typing test and improve your typing speed and accuracy. Try online typing tests, practice regularly, and test your skills with our free typing speed tests.">
    <meta property="og:url" content="https://www.typingsprint.com">
    <meta property="og:type" content="website">
    <link rel="canonical" href="https://www.typingsprint.com">
</head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NC6P3HNR');</script>
    <!-- End Google Tag Manager -->
     <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GTKBSLMGMJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GTKBSLMGMJ');
</script>


<body>


    <nav class="navbar navbar-expand-lg bg-body-tertiary mx-auto px-4 max-w-screen-container-xl md:py-2 md:px-6">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">TypingSprint.com</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Add justify-content-center to center the nav links -->
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/typing-test">Typing Test</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Learn</a>
              </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/">Contact Us</a>
              </li>
            </ul>
          </div>
          
        </div>
      </nav>
      <main class="flex-auto text-txt-primary dark:text-txt-dark-primary prose overflow-x-hidden">