*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(180deg,rgba(238,244,247,0),#eef4f7 14.56%,#eef4f7 71.62%,rgba(238,244,247,0));
}
main{
    width: 95%;
    margin: 0 auto;
}

.navbar, .card{
    background-color: transparent !important;
}
.nav-link{
    font-family: Manrope,sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
}
#test{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    -webkit-text-size-adjust: 100%;
    color: #4a4a4a;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    --fsAncillary: var(--use);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    will-change: transform;
    background-image: url(/dist/student/images/type-border-tall.gif);
    background-position-y: -.5px;
    background-size: 100% 43px;
    -webkit-text-size-adjust: 100%;
    color: #4a4a4a;
    font-weight: 500;
    line-height: 1.5;
    --vh: 5.51px;
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    --fsAncillary: var(--use);
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
    padding: 0 10px;
    transition: all .4s ease-out;
    height: fit-content;
}

.word{
    -webkit-text-size-adjust: 100%;
    color: #4a4a4a;
    font-weight: 500;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    --fsAncillary: var(--use);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
.letter{
    -webkit-text-size-adjust: 100%;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    --fsAncillary: var(--use);
    font-size: 26px;
    text-align: center;
    border-bottom: 3px solid transparent;
    display: inline-block;
    line-height: 1.5;
    margin: 5px 2px 5px 0;
    min-width: 14px;
    position: relative;
    font-weight: 500px;
}

.letter-active{
    animation-fill-mode: both;
    animation-duration: 1s; /* Adjust the speed of the blink */
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-name: cursorBlink;
    background-color: transparent;
    color: #3295db;
    border-color: #3295db;
    border-radius: 0;
}

@keyframes cursorBlink {
    0% {
        border-bottom-color: #3295db;
    }
    50% {
        border-bottom-color: transparent;
    }
    100% {
        border-bottom-color: #3295db;
    }
}

.is-correct{
    /* background: #edf7e7; */
    color: #2fe274;
    transition: color .12s ease-in-out;
    border-radius: 4px;
}

.is-wrong{
    color: #ce3e44;
    background-color: #ffdcd9;
    position: relative;
    will-change: transform;
    z-index: 1;
    border: 4px;
    
}

/* Define the shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
@keyframes shake2 {
    0% { transform: translateX(0) translateY(0); opacity: 1; }
    25% { transform: translateX(-5px) translateY(5px); opacity: 1; }
    50% { transform: translateX(5px) translateY(7px); opacity: 0.75; }
    75% { transform: translateX(-5px) translateY(10px); opacity: 0; }
    100% { transform: translateX(0) translateY(15px); opacity: 0; }
}

/* Class to apply the shake animation */
.shake {
    animation: shake 0.2s ease-in-out; /* Animation duration and ease */
}
.shake-error {
    animation: shake2 1s ease-in-out; /* Animation duration and ease */
}
.shake-style{
    color: #ce3e44;
    border-bottom-color: #ce3e44;
}
.error-letter{
    position: absolute;
    width: 100%;
    background-color: transparent;
    /* top: 70px; */
    transition: 2s;
    opacity: 0;
}
.drop{
    transform: translateY(-50px);
    color: #ce3e44;
    border-bottom-color: #ce3e44;
}



.line{
    width: 100%;
    height: 1px;
    background-color: #cacaca98;
}

/* Tooltip styling */
.tooltip {
    display: inline-block; /* Hidden by default */
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
    text-align: center;
    white-space: nowrap;
    top: -100%;
    right: -330%;
}

/* Show tooltip
.tooltip-visible {
    display: inline-block;
} */

/* Arrow pointing down */
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Position at the bottom of the tooltip box */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent; /* Creates the arrow */
}

.test-card{
  width: 100%;
  height: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  background-color: white;
}
.test-card .setting{
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.test-card .setting button, .test-card .setting button{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    text-decoration: none;
    color: black;
}
.test-card .setting svg{
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.test-card .setting::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 30px; /* Height of the blur effect */
    background: inherit; /* Inherit the background to blend */
    filter: blur(1px); /* Blur amount */
    z-index: 1;
  }

  .gradient{
    background: linear-gradient(180deg,rgba(238,244,247,0),#eef4f7 14.56%,#eef4f7 71.62%,rgba(238,244,247,0));
  }
  .counter{
    font-weight: 500;
    color: #174258cc;
  }
  .info{
    font-weight: 500;
    font-size: 18px;
    color: #174258cc;
  }
  svg{
    color: #174258cc;
  }
  .info{
    display: flex;
  }
.dropdown{
    position: relative;
}
.dropdown .selected{
    text-decoration: underline;
    cursor: pointer;
    padding: 0 5px;
}
.dropdown .selected:hover + .options, .dropdown .options:hover{
    opacity: 1;
    z-index: 1000 ;
}
.dropdown .options{
    position: absolute;
    padding: 20px 0;
    background-color: white;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    width: 110px;
    opacity: 0;
    z-index: -1000;
    transition: all .4s;
}
.option{
    padding: 5px 10px;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    transition: all .3s;
    width: 100%;
}
.option:hover{
    background-color: #eef4f6;
    border-radius: 5px;
}

.results{
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.result h4{
    font-size: 20px;
    color: #384d60;
}
.result div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: 4px solid #384d60;
    position: relative;
}
.result div span{
    --cc-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
    text-align: center;
    color: #384d60;
    font-size: 46px;
    line-height: normal;
}
.result div span small{
    font-size: 14px;
    position: absolute;
    bottom: 26px;
    right: 10px;
}
.result div span small:last-of-type{
    font-size: 10px;
    bottom: 15px;
    right: 20px;
    
}
.try-again{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.try-again a{
    text-decoration: none;
    color: #384d60;
}